<nav ngClass="main-nav">
    <div ngClass="main-nav-logo">
        <h2 class="logo-title">Mekanism</h2>
    </div>
    <div ngClass="main-nav-menuOptions">
        <a href="#" ngClass="menuOptions menuOption1">Our Work</a>
        <a href="#" ngClass="menuOptions menuOption2">About Us</a>
        <a href="#" ngClass="menuOptions menuOption3">Join Mek</a>
        <a href="#" ngClass="menuOptions menuOption4">News & Blog</a>
        <a href="#" ngClass="menuOptions menuOption5">Podcast</a>
        <a href="#" ngClass="menuOptions menuOption6">Contact Us</a>
        <a href="#" ngClass="menuOptions menuOption7">Ground Control</a>
    </div>
</nav>