<div ngClass="menu-holder" id="menu-holder-id">
    <app-responnsive-navbar-overlay></app-responnsive-navbar-overlay>
</div>

<div class="main">
    <nav ngClass="main-nav">
        <div ngClass="main-nav-logo">
            <a href="" class="logo-title">Mekanism</a>
        </div>
        <div ngClass="main-nav-menuOptions">
            <a href="#" ngClass="menuOptions menuOption1">Our Work</a>
            <a href="#" ngClass="menuOptions menuOption2">About Us</a>
            <a href="#" ngClass="menuOptions menuOption3">Join Mek</a>
            <a href="#" ngClass="menuOptions menuOption4">News & Blog</a>
            <a href="#" ngClass="menuOptions menuOption5">Podcast</a>
            <a href="#" ngClass="menuOptions menuOption6">Contact Us</a>
            <a href="#" ngClass="menuOptions menuOption7">Ground Control</a>
        </div>
        <div ngClass="resp-menu-toggler" (click)="toggleMenu()">
            <div ngClass="design-stick-purple"></div>
            <div ngClass="design-stick-cyan"></div>
        </div>
    </nav>
    <div ngClass="main-content">
        <h2 ngClass="main-content-weAre">We are</h2>
        <h1 ngClass="main-content-mekanism">Mekanism</h1>
    </div>
</div>