<div ngClass="resp-overlay-outter">
    <div ngClass="resp-overlay-settings">
        <div ngClass="margined-div">
            <ul ngClass="menu-list">
                <li ngClass="menu-options opt1"><a ngClass="menu-opt-a" href="#">Our Work</a></li>
                <li ngClass="menu-options opt1"><a ngClass="menu-opt-a" href="#">About Us</a></li>
                <li ngClass="menu-options opt1"><a ngClass="menu-opt-a" href="#">Join Mek</a></li>
                <li ngClass="menu-options opt1"><a ngClass="menu-opt-a" href="#">New & BLog</a></li>
                <li ngClass="menu-options opt1"><a ngClass="menu-opt-a" href="#">Podcast</a></li>
                <li ngClass="menu-options opt1"><a ngClass="menu-opt-a" href="#">Contact Us</a></li>
            </ul>
    
            <div ngClass="ground-controls-div">
                <ul ngClass="menu-list">
                    <li ngClass="ground-control"><a href="#" ngClass="ground-control-a">Ground Control</a></li>
                </ul>
            </div>
    
            <div class="mekanism-officials-links">
                <a href="https://www.instagram.com/mekanism/" target="_blank"><i ngClass="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/mekanism" target="_blank"><i ngClass="bi bi-facebook"></i></a>
                <a href="https://twitter.com/mekanism" target="_blank"><i ngClass="bi bi-twitter"></i></a>
                <a href="https://www.linkedin.com/company/mekanism/" target="_blank"><i ngClass="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>