<div class="resp-overlay-settings">
    <div class="margined-div">
        <ul class="menu-list">
            <li class="menu-option opt1"><a href="#">Our Work</a></li>
            <li class="menu-option opt1"><a href="#">About Us</a></li>
            <li class="menu-option opt1"><a href="#">Join Mek</a></li>
            <li class="menu-option opt1"><a href="#">New & BLog</a></li>
            <li class="menu-option opt1"><a href="#">Podcast</a></li>
            <li class="menu-option opt1"><a href="#">Contact Us</a></li>
        </ul>
    </div>
</div>