<div class="resp-overlay-settings">
    <div class="margined-div">
        <ul class="menu-list">
            <li class="menu-options opt1"><a class="menu-opt-a" href="#">Our Work</a></li>
            <li class="menu-options opt1"><a class="menu-opt-a" href="#">About Us</a></li>
            <li class="menu-options opt1"><a class="menu-opt-a" href="#">Join Mek</a></li>
            <li class="menu-options opt1"><a class="menu-opt-a" href="#">New & BLog</a></li>
            <li class="menu-options opt1"><a class="menu-opt-a" href="#">Podcast</a></li>
            <li class="menu-options opt1"><a class="menu-opt-a" href="#">Contact Us</a></li>
        </ul>

        <div class="ground-controls-div">
            <ul class="menu-list">
                <li class="ground-control"><a href="#" class="ground-control-a">Ground Control</a></li>
            </ul>
        </div>

        <div class="mekanism-officials-links">
            <a href="https://www.instagram.com/mekanism/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com/mekanism" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://twitter.com/mekanism" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.linkedin.com/company/mekanism/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</div>