@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: mekanizm;
    src: url("../fonts/Mekanizm.ttf");
}
* {
    box-sizing: border-box;
    font-family: mekanizm;
}
body {
    margin: 0px;
    padding: 0px;
}